.about {
    background-image: url('/public/photos/gym5.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
}

.service {
    background-image: url('/public/photos/gym4.jpg');
    background-position: center;
    background-size: 140%;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
}

.contacts {
    background-image: url('/public/photos/gym6.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
}

.home,
.about,
.service,
.contacts {
    height: 90vh;
    justify-content: center;
}

.home,
.about,
.service,
.contacts p {
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20%;
}

.about .about-txt {
    color: black;
    padding-top: 5%;
}